span {
    color: red;
}

input[type=text]{
    margin-bottom: 1em;
}

form label {
    width: 50%;
    display: inline-block;
    text-align: right;
    margin-right: 2em;
}

@media only screen and (max-width: 475px) {
    form label {
        text-align: left;
        display: block;
    }
    
    button{
        margin-left: 0%;
    }
}

button {
    margin-left: 50%;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}